body {
	background-color: #EEEEEE;
}

.am-thumbnails {
	margin-left: 0;
	margin-right: 0;
}

.top_title {
	padding: 20px 10px 0 10px;
	background-color: #FFFFFF;
}

.top_img {
	text-align: center;
}

.top_img img {
	width: 40px;
	height: 32px;
}

.top_img_name {
	margin-top: 4px;
	font-size: 14px;
	color: #808080;
	text-align: center;
}

.news_img {
	position: relative;
}

.left_logo {
	position: absolute;
	background: #fb3d61;
	color: #FFFFFF;
	font-size: 12px;
	padding: 2px 10px 2px 4px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	top: 14px;
	left: 0;
}

.news_lists {
	background-color: #FFFFFF;
	margin-top: 8px;
	padding: 8px 0;
}

.news_tit {
	padding: 10px 0 0px;
	font-size: 18px;
	color: #333;
	line-height: 24px;
}

.news_txt {
	padding: 10px 0 0px;
	font-size: 13px;
	color: #6d6d6d;
	line-height: 17px;
}

.time {
	margin-top: 10px;
	border-top: 1px solid #EEEEEE;
	padding-top: 10px;
}

.perpic {
	width: 34px;
	height: 34px;
}

.pername {
	color: #8d8a8a;
	font-size: 13px;
	padding-top: 7px;
}