.brand ul {
	list-style: none;
	/*width: 803px;
	height: 403px;*/
	position: relative;
	padding: 0;
}

.brand ul li {
	position: relative;
}

.brand ul li a,
.brand ul li a img {
	display: block;
	position: relative;
}

.brand ul li a {
	overflow: hidden;
}

.brand ul li a div {
	position: absolute;
	top: 150px;
	background: #333;
	background: rgba(75, 75, 75, 0.7);
	width: 100%;
	height: 100%;
}
.brand .xihuan{
	width: 40px;
	height:40px;
	text-align: center;
}
.brand ul li a div span {
	left: 180px;
	display: block;
	padding: 30px 70px;
    opacity: 0.9;
	/*margin: 40px 20px 20px 20px;*/
/*	text-transform: uppercase;*/
	font-weight: normal;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -10px 0 rgba(255, 255, 255, 0.3);
}