@charset "utf-8";
.com_left {
	width: 220px;
	padding-top: 10px;
}

.header_slider {
	border: 1px solid #f3f3f3;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.header_box {
	height: 76px;
	width: 67px;
	position: absolute;
	left: 5px;
	top: -12px;
	overflow: hidden;
	transform: rotate(-5deg);
}

.kuang {
	background: url(../img/head_box.png) no-repeat;
	height: 76px;
	width: 66px;
	position: absolute;
	top: 0;
	left: 0;
}

.com_left .header_box span img {
	margin: 17px 0 0 7px;
	height: 52px;
	width: 52px;
	overflow: hidden;
}

.header_slider .name {
	margin-top: 18px;
	padding: 0 12px 0 80px;
	height: 40px;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
}

.header_slider .name h3 {
	font-family: Arial;
	color: #636a75;
	font-size: 18px;
	line-height: 20px;
	width: 144px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.header_slider .person_info {
	color: #636a75;
	font-size: 14px;
	line-height: 25px;
	margin-top: 15px;
	padding-left: 20px;
}

.header_slider .person_info p a {
	outline: 0;
}

.header_slider .person_info p:hover a {
	color: #d91966;
}

.category_slider {
	padding: 5px 10px 12px 10px;
	background: #fff;
	border: 1px solid #f3f3f3;
	margin-bottom: 10px;
}

.category_slider ul li {
	padding: 5px 0 10px;
}

.category_slider ul li dl {
	width: 196px;
	overflow: hidden;
}

.category_slider ul li dt {
	background: #d91966;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 5px;
	padding: 0 8px;
	height: 30px;
}

.category_slider ul li dd {
	display: block;
	border-bottom: solid 1px #e6e6e6;
	height: 32px;
	position: relative;
}

.category_slider ul li dd a {
	line-height: 22px;
	margin-top: 5px;
	padding-left: 8px;
	height: 22px;
	width: 188px;
	position: relative;
	display: inline-block;
	outline: 0;
}

.category_slider ul li dd:hover a {
	background: #ede7e1;
	color: #000;
}

.com_right {
	width: 942px;
	min-height: 300px;
}

.crumb {
	color: #737d8c;
	font-size: 14px;
	margin: 0 0 10px;
	padding-top: 15px;
	height: 20px;
}

.crumb li {
	float: left;
	line-height: 20px;
}

.crumb li.home a {
	display: block;
	float: left;
	background: url(../img/icon01.png) no-repeat -88px 0;
	height: 16px;
	outline: 0;
	width: 16px;
}

.crumb li a {
	outline: 0;
}

.crumb li:hover a {
	color: #D91864;
}

.crumb .step_arrow {
	display: block;
	float: left;
	background: url(../img/icon01.png) no-repeat -88px -17px;
	margin-top: 3px;
	margin-left: 8px;
	height: 16px;
	width: 11px;
	overflow: hidden;
}

.account_cover {
	background: #fff;
	border: solid 1px #f3f3f3;
	padding: 22px 25px 22px 158px;
	position: relative;
}

.account_cover .avatar {
	width: 102px;
	position: absolute;
	left: 28px;
	top: 22px;
}

.account_cover .avatar img {
	height: 102px;
	width: 102px;
	border-radius: 100px;
	border: 2px solid #f0f0f0;
	padding: 2px;
}

.account_cover .avatar a {
	display: block;
	color: #79808a;
	margin-top: 10px;
	text-align: center;
	outline: 0;
}

.basic {
	padding: 10px 0;
}

.basic .username {
	font-size: 12px;
	line-height: 30px;
}

.basic .username strong {
	font-size: 24px;
	font-weight: 400;
}

.basic .info a {
	outline: 0;
	color: #e1731f;
}

.basic .username span {
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin-top: 8px;
}

.account_cover .info {
	clear: both;
	background: #fcfcfc;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	margin: 10px 0;
	padding: 1px;
	overflow: hidden;
}

.basic .info {
	line-height: 24px;
}

.info li a {
	outline: 0;
}

.account_cover .info th {
	background: #fcfcfc;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 18px 8px 10px;
	width: 70px;
}

.account_cover .info td {
	font-size: 13px;
	padding: 8px;
	color: #666;
}

.account_cover td li {
	float: left;
	margin-right: 20px;
}

.account_cover td li strong {
	color: #f60;
	font-family: Arial;
	padding: 0 2px;
}

.account_cover td li:hover a {
	color: #666;
}

.my-account_content .title_tab {
	background: #f6f6f6;
	border: solid 1px #e3e3e3;
	border-bottom: solid 2px #d91966;
	border-left: none;
	line-height: 40px;
	height: 40px;
}

.my-account_content .title_tab span {
	display: block;
	background: #d91966;
	color: #fff;
	font-size: 14px;
	width: 122px;
	text-align: center;
}

.order_evaluation {
	background: #fff;
	border: solid 1px #f3f3f3;
	border-top: none;
	padding: 30px 20px;
}

.order_evaluation .order_list {
	margin-bottom: 10px;
}

.order_list {
	margin: 0 22px;
}

.order_evaluation .title {
	line-height: 42px;
	height: 42px;
	background: #eaecee;
}

.order_evaluation .title h2 {
	color: #333;
	font-size: 15px;
	padding-left: 15px;
	line-height: 42px;
}

.nodata {
	height: 115px;
	background: url(../img/tishi.png) no-repeat center 0;
	text-align: center;
	padding-top: 110px;
}

.nodata p {
	line-height: 23px;
	width: 118px;
	margin: 0 auto;
}

.my_account {
	background: #fff;
	border: solid 1px #f3f3f3;
	position: relative;
	margin-top: 22px;
}

.account_title {
	color: #4a4439;
	line-height: 45px;
	height: 45px;
	border-bottom: 2px solid #d8d8d8;
	margin: 0 22px;
}

.account_title h2 {
	font-size: 16px;
	float: left;
	line-height: 45px;
}

.account_title a {
	color: #d91966;
	font-size: 14px;
}

.account_title a.dingdan {
	color: #333333;
	font-size: 12px;
}

.account_title a.dingdan:hover {
	color: #D91966;
}

.my_account_minute {
	padding: 28px 25px 0 25px;
}

.my_account_minute_hd {
	background-color: #F6F6F6;
	height: 40px;
	line-height: 40px;
}

.my_account_minute_hd a.active,
.my_account_minute_hd li:hover a {
	color: #D91966;
}

.tab_content li table td p:hover a,
.tab_content li table td span:hover a {
	color: #D91966;
}

.tab_content li table td a {
	outline: 0;
}

.my_account_minute_hd li a {
	outline: 0;
}

.my_account_minute_hd li {
	float: left;
	color: #666;
	font-size: 14px;
	padding: 0 30px;
	text-align: center;
	font-family: "黑体";
	font-weight: 700;
	outline: 0;
}

.my_account_minute .tab_content table tr th {
	text-align: left;
	font-size: 12px;
	line-height: 38px;
	color: #999999;
	font-weight: bold;
	border-bottom: 1px solid #E6E6E6;
	padding: 0 5px;
}

.my_account_minute .tab_content table tr td {
	text-align: left;
	font-size: 12px;
	line-height: 34px;
	color: #999999;
	font-weight: bold;
	border-bottom: 1px solid #E6E6E6;
	padding: 5px;
}

.my_integral {
	border: 1px solid #D8D8D8;
	font-size: 18px;
	padding: 0 12px;
	line-height: 38px;
	margin: 30px 25px 0px;
	color: #4a4439;
}

.my_integral span {
	color: #D91966;
}

.tab_content li {
	display: none;
}

.tab_content li:first-child {
	display: block;
}

.tab_content li table {
	margin: 0 22px;
	width: 100%;
}

.tab_content li table tr th {
	text-align: left;
	font-size: 12px;
	line-height: 38px;
	color: #999999;
	font-weight: bold;
	border-bottom: 1px solid #f3f3f3;
}

.leave_message {
	padding: 40px 25px 30px 80px;
	color: #333333;
}

.leave_message_row1_1 {
	padding: 3px 0 0 25px;
}

.leave_message_row1_2 {
	padding: 3px 0 0 60px;
}

.leave_message_row2 {
	padding: 25px 0 0 23px;
}

.leave_message_row2 input {
	width: 300px;
	height: 24px;
	padding: 7px 5px;
	margin-top: -10px;
	margin-left: 25px;
	border: 1px solid #E9E9E9;
}

.leave_message_row3 {
	padding: 25px 0 0 0px;
}

.leave_message_row3 textarea {
	padding: 7px 5px;
	border: 1px solid #E9E9E9;
	margin-left: 25px;
}

.leave_message_row4 {
	padding: 25px 0 0 0px;
}

.leave_message .btns {
	line-height: 26px;
	background: #008c99;
	border: 1px solid #008c99;
	padding: 0 20px;
	color: #fff;
	font-size: 14px;
	margin: 22px 0 10px 83px;
	border-radius: 3px;
	cursor: pointer;
}

.my_account select {
	padding: 0px 2px 1px;
	color: #999999;
}

.coupon_hint {
	margin-bottom: 20px;
	background: #f8f8f8;
	padding: 10px 0 20px;
	color: #545258;
	font-size: 14px;
}

.collect_list {
	border-bottom: solid 3px #d91966;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}

.collect_list div {
	color: white;
	background-color: #d91966;
	width: 144px;
	text-align: center;
	font-size: 14px;
}

.address_title {
	background: #eaecee;
	color: #000;
	line-height: 30px;
	height: 30px;
	border: none;
	margin: -10px 0 20px 0;
	padding-left: 10px;
}

.address_form span {
	display: inline-block;
	color: #333333;
	float: left;
}

.address_form {
	margin-top: 40px;
}

.address_form select {
	width: 108px;
	height: 24px;
	line-height: 24px;
	background: #fff;
	padding: 2px 6px;
	vertical-align: middle;
	border: 1px solid #e3e9ef;
	border-top: 1px solid #abadb3;
	color: #333333;
}

.address_street {
	margin-top: 12px;
}

.address_account {
	margin-top: 12px;
	margin-left: 50px;
}

.address_account select {
	padding: 0px 2px 1px;
	color: #999999;
	width: 55px;
	height: 24px;
}

.address_street textarea {
	padding: 7px 5px;
	line-height: 24px;
	width: 320px;
	height: 50px;
	max-height: 100px;
	border: solid 1px #e9e9e9;
}

.address_street input,
.address_account input[type="text"] {
	width: 210px;
	height: 22px;
	padding: 2px 4px;
	border: 1px solid #e3e9ef;
	border-top: 1px solid #abadb3;
	border-radius: 3px;
	margin-left: 2px;
}

.address_account span {
	font-size: 14px;
	color: #333;
}

.address_phone {
	margin-top: 12px;
}

.address_phone input {
	width: 95px;
	height: 22px;
	padding: 2px 4px;
	border: 1px solid #e3e9ef;
	border-top: 1px solid #abadb3;
	border-radius: 3px;
	margin-left: 2px;
}

.address_btn {
	width: 79px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0;
	color: #fff;
	overflow: hidden;
	border: 0;
	background: #008c99;
	cursor: pointer;
	border-radius: 3px;
	margin: 30px 0 0 80px;
}

.address_save {
	background: #eaecee;
	color: #000;
	line-height: 30px;
	height: 30px;
	border: none;
	margin: 20px 0 20px 0;
	padding-left: 10px;
}

.th_header,
.tr_list {
	color: #000;
	height: 35px;
	border-bottom: 1px solid #d3d3d3;
	line-height: 36px;
	font-size: 14px;
	font-weight: 400;
	margin: 0 22px;
}

.th_header span,
.tr_list span {
	height: 35px;
	float: left;
	padding: 0 5px;
}

.address_account .fl input[type="button"] {
	background-color: #D91864;
	padding: 4px 15px;
	color: white;
	outline: 0;
	border: 0;
	cursor: pointer;
	border-radius: 3px;
	font-size: 12px;
	margin-left: 5px;
}

.password_cha {
	border-bottom: 1px solid #E6E6E6;
	position: relative;
	height: 60px;
	background: url(../img/ba_modSafety.png) no-repeat;
	padding-top: 40px;
	text-align: center;
}

.icon-on {
	background-position: 0 35px;
}

.icon-down {
	background-position: 0 -45px
}

.password_cha_yxyz {
	color: #fff;
	background-color: #D91864;
	padding: 4px 15px;
	border-radius: 3px;
	font-size: 14px;
}

.password_cha a.password_cha_yxyz:hover {
	color: #fff;
	background-color: #EA1C50;
}

.recharge {
	display: inline-block;
	width: 492px;
	padding-top: 5px;
}

.recharge li {
	line-height: 34px;
	float: left;
	cursor: pointer;
	margin: 0 10px 8px 0;
	text-align: center;
	border: 1px solid #d1d1d1;
}

.recharge li.selected {
	border: 1px solid #d91966;
}

.simradio li.selected {
	border: 2px solid #d91966;
	background: url(../img/icon01.png) no-repeat 88px -221px;
}

.recharge li.selected span.unChoose {
	background: url(../img/icon01.png) no-repeat 52px -221px;
	border: 1px solid #d91966;
}

.recharge li span {
	width: 68px;
	float: left;
	border: 1px solid #fff;
	color: #333333;
}

.recharge li span.unChoose {
	background: #f8f8f8;
}

.pay_money {
	padding: 10px 20px 0 50px;
	color: #333333;
}

.simradio li {
	border: 2px solid #d1d1d1;
	line-height: 34px;
	float: left;
	cursor: pointer;
	text-align: center;
	height: 35px;
	padding-right: 4px;
	color: #333333;
	margin-right: 10px;
	width: 100px;
}

.Sprite1 {
	background: url(../img/paylogo.png) no-repeat -142px 8px;
	width: 50px;
	height: 36px;
	display: inline-block;
}

.Sprite2 {
	background: url(../img/paylogo.png) no-repeat -80px 8px;
	width: 50px;
	height: 36px;
	display: inline-block;
}

.Sprite3 {
	background: url(../img/paylogo.png) no-repeat -213px 8px;
	width: 50px;
	height: 36px;
	display: inline-block;
}