@charset "utf-8";
.header {
	width: 1366px;
	height: 84px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	position: fixed;
	/*top: 10px;
	left: 20px;*/
	top: 0;
	z-index: 1000000;
}

.header img:hover {
	cursor: pointer;
}

.header span:first-child {
	display: inline-block;
	margin: 20px 0 20px 60px;
}

.header .close {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.1);
	float: right;
	margin: 20px 60px;
	position: relative;
}

#up {
	width: 25px;
	height: 2px;
	background-color: rgba(193, 193, 193, 0.1);
	position: absolute;
	z-index: 100;
	top: 16px;
	left: 13px;
}

#down {
	width: 25px;
	height: 2px;
	background-color: rgba(193, 193, 193, 0.1);
	position: absolute;
	z-index: 9;
	top: 30px;
	left: 13px;
}

@keyframes close {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-45deg) translateY(5px) translateX(-5px);
		-moz-transform: rotate(-45deg) translateY(5px) translateX(-5px);
		-ms-transform: rotate(-45deg) translateY(5px) translateX(-5px);
		-o-transform: rotate(-45deg) translateY(5px) translateX(-5px);
		transform: rotate(-45deg) translateY(5px) translateX(-5px);
	}
}

.close:hover #up {
	animation: close 0.5s ease;
	transform: rotate(-45deg) translateY(5px) translateX(-5px);
	background-color: #FFFFFF;
}

@keyframes close1 {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg) translateY(-5px) translateX(-5px);
		-moz-transform: rotate(45deg) translateY(-5px) translateX(-5px);
		-ms-transform: rotate(45deg) translateY(-5px) translateX(-5px);
		-o-transform: rotate(45deg) translateY(-5px) translateX(-5px);
		transform: rotate(45deg) translateY(-5px) translateX(-5px);
	}
}

.close:hover #down {
	animation: close1 0.5s ease;
	transform: rotate(45deg) translateY(-5px) translateX(-5px);
	background-color: #FFFFFF;
}

.close:hover {
	background-color: rgba(0, 0, 0, 0.5);
}


/*body部分*/

.container {
	width: 1200px;
	margin: 0 auto;
}

.bg_img {
	position: absolute;
	top: 0;
	left: 0;
}

.title {
	font-size: 22px;
	text-align: center;
	color: #333333;
	padding-top: 311px;
}

.title_eng {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.style_list {
	margin-left: 374px;
}

.style_list li {
	width: 60px;
	float: left;
	font-size: 14px;
	color: #999;
	margin-top: 30px;
	margin-left: 70px;
	padding: 5px 0;
}

.style_list .bor {
	margin-top: 5px;
	width: 0px;
	height: 1px;
	background-color: #666;
	transition: width 1s;
}

.style_list li:hover {
	cursor: pointer;
	color: #444;
}

.style_list li:hover .bor {
	width: 60px;
}

.guide_list {
	margin-top: 80px;
}

.guide_list li {
	border-bottom: 1px solid #C1C1C1;
	padding: 10px 0;
}

.guide_img {
	width: 300px;
	/*margin-left: 78px;*/
	float: left;
}

.guide_txt {
	padding-top: 20px;
	float: left;
	margin-left: 55px;
	width: 830px;
	transition: all 0.5s ease ;
}

.guide_txt_2 {
	margin-top: 10px;
	font-size: 14px;
	width: 622px;
}

.guide_txt span {
	display: inline-block;
	padding: 8px 40px;
	border-left: 1px solid #C1C1C1;
	float: right;
	margin-left: 20px;
	font-size: 14px;
	transition: all 0.5s ease ;
}
.guide_list li:hover{
	cursor: pointer;
}
.guide_list li:hover .guide_txt{
	margin-left:70px ;
}
.guide_list li:hover span{
	color: #000000;
	border-left: 1px solid #333333;
}
