@charset "utf-8";
.menu_bg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 300000;
	background-color: white;
	top: 0;
	right: -100%;
}

.menu_bg_word {
	width: 100%;
	margin-top: 160px;
}

.menu_bg_word li {
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-top: 1px solid #f5f5f5;
}

.menu_bg_word li a {
	color: #666;
	outline: 0;
}

.s_list {
	position: relative;
	width: 100px;
	left: 55%;
	height: 1000px;
	top: -58px;
	display: none;
	font-size: 12px;
}

.menu_bg_word li:hover .s_list {
	display: block;
}
.menu_bg_word li:hover {
	background-color: #f8f8f8;
}

.menu_bg_word li:hover a {
	color: #000000;
}
