.header {
	width: 1366px;
	height: 84px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	position: fixed;
	/*top: 10px;
	left: 20px;*/
	top: 0;
	z-index: 1000000;
}

.header img:hover {
	cursor: pointer;
}

.header span:first-child {
	display: inline-block;
	margin: 20px 0 20px 60px;
}

.header .close {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.1);
	float: right;
	margin: 20px 60px;
	position: relative;
}

#up {
	width: 25px;
	height: 2px;
	background-color: rgba(193, 193, 193, 0.1);
	position: absolute;
	z-index: 100;
	top: 16px;
	left: 13px;
}

#down {
	width: 25px;
	height: 2px;
	background-color: rgba(193, 193, 193, 0.1);
	position: absolute;
	z-index: 9;
	top: 30px;
	left: 13px;
}

@keyframes close {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-45deg) translateY(5px) translateX(-5px);
		-moz-transform: rotate(-45deg) translateY(5px) translateX(-5px);
		-ms-transform: rotate(-45deg) translateY(5px) translateX(-5px);
		-o-transform: rotate(-45deg) translateY(5px) translateX(-5px);
		transform: rotate(-45deg) translateY(5px) translateX(-5px);
	}
}

.close:hover #up {
	animation: close 0.5s ease;
	transform: rotate(-45deg) translateY(5px) translateX(-5px);
	background-color: #FFFFFF;
}

@keyframes close1 {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg) translateY(-5px) translateX(-5px);
		-moz-transform: rotate(45deg) translateY(-5px) translateX(-5px);
		-ms-transform: rotate(45deg) translateY(-5px) translateX(-5px);
		-o-transform: rotate(45deg) translateY(-5px) translateX(-5px);
		transform: rotate(45deg) translateY(-5px) translateX(-5px);
	}
}

.close:hover #down {
	animation: close1 0.5s ease;
	transform: rotate(45deg) translateY(-5px) translateX(-5px);
	background-color: #FFFFFF;
}

.close:hover {
	background-color: rgba(0, 0, 0, 0.5);
}


/*body部分*/

body {
	position: relative;
}

.container {
	width: 1200px;
	margin:0 auto;
}

.team_bg {
	background: url(../img/1497872144999.jpg) top center;
	width: 100%;
	height: 360px;
	position: fixed;
}

.team_content {
	position: absolute;
	z-index: 10;
	margin-top: 360px;
	background-color: white;
	width: 100%;
}

.team_content_word1 {
	text-align: center;
	color: #444444;
	font-size: 22px;
	padding-top: 70px;
}

.team_content_word2 {
	text-align: center;
	margin-top: 5px;
	font-size: 14px;
	color: #c1c1c1;
}

.team_list li {
	width: 290px;
	margin: 0 5px;
}

.add {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 290px;
	height: 40px;
	background-color: #666666;
	color: #fff;
	font-size: 29px;
	text-align: center;
	line-height: 32px;
	transition: all 0.3s ease;
}

.name {
	font-size: 18px;
	margin: 10px 0 0 10px;
}

.work {
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.info {
	padding: 10px;
}

.team_list {
	margin-bottom: 200px;
}

.team_list li {
	float: left;
	margin-top: 50px;
	transition: all 0.3s ease;
	-webkit-box-shadow: 0px 9px 30px #fff;
	-moz-box-shadow: 0px 9px 30px #fff;
	box-shadow: 0px 9px 30px #fff;
	transition: all 0.3s ease;
}

.team_list li:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 9px 30px #999999;
	-moz-box-shadow: 0px 9px 30px #999999;
	box-shadow: 0px 9px 30px #999999;
	margin-top: 40px;
}

.team_list li:hover .add {
	bottom: 0;
}